<h1><%= @item.title %></h1>
<p>Submitted on: <%= @item.created_at.strftime("%B %d %Y") %></p>

<p><%= @item.description %></p>

<%= link_to "Edit", edit_item_path %>
<%= link_to 'Delete', @item, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back", items_path %>
