<h1><%= @item.title %></h1>
<p>Submitted on: <%= @item.created_at.strftime("%B %d %Y") %></p>

<p><%= @item.description %></p>

<p>
  <% if @user_can_change %>
    <u><%= link_to "Edit", edit_item_path %></u>
    <u><%= link_to 'Delete', @item, method: :delete, data: { confirm: "Are you sure?" } %></u>
  <% end %>
  <u><%= link_to "Add Review", new_item_review_path(@item) %></u>
  <u><%= link_to "Back", items_path %></u>
</p>

<ul>
<% @reviews.each do |review| %>
  <%= review.rating %>/5 - <%= review.user.username %>
  <li><%= review.body %></li>
  <div>
    <%= review.score %>
      <u><%= link_to "Like", item_review_up_vote_path(@item.id, review.id), method: :post %></u>
      <u><%= link_to "Dislike", item_review_down_vote_path(@item.id, review.id), method: :post %></u>
      <u>Edit</u>
      <u><%= link_to 'Delete Review', [@item, review], method: :delete, data: { confirm: "Are you sure?" } %></u>
  </div>
<%end%>
</ul>
