<h1>Submit a review for <%= @item.title %></h1>

<%= form_for [@item, @review] do |f| %>
  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
