<!DOCTYPE html>
<html>
  <head>
    <title>Schwamit</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area small-3 columns" >
        <li class="name">
          <h1><a href="/">SchwamIt</a></h1>
        </li>
      </ul>
      <% if user_signed_in? %>
        <div class="right">
          <img class='profile_photo' src="<%= current_user.profile_photo.thumb %>" alt="">
        </div>
      <% end %>
      <ul class="right">
        <% if user_signed_in? %>
          <li class='right-item nav-link'> <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> </li>
          <li class='right-item nav-link'> <%= link_to 'Account Settings', edit_user_registration_path %> </li>

        <% else %>
          <li class='right-item'> <%= link_to 'Sign Up', new_user_registration_path %> </li>
          <li class='right-item'> <%= link_to 'Sign In', new_user_session_path %> </li>
        <% end %>
      </ul>
    </nav>

    <div class='error-msg'>
      <% flash.each do |name, msg| %>
        <% msg = "Invalid Electronic Mail or Password" if msg == 'Invalid Email or password.' %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <% end %>
    </div>

    <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>
