<!DOCTYPE html>
<html>
  <head>
    <title>Schwamit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
  </head>

  <body>
    <!-- <nav>
      <ul>
        <% if user_signed_in? %>
          <li> <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> </li>
        <% else %>
          <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
          <li> <%= link_to 'Sign In', new_user_session_path %> </li>
        <% end %>
      </ul>
    </nav> -->
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area small-3 columns" >
        <li class="name">
          <h1><a href="/">SchwamIt</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <li class='right-item'> <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> </li>
        <% else %>
          <li class='right-item'> <%= link_to 'Sign Up', new_user_registration_path %> </li>
          <li class='right-item'> <%= link_to 'Sign In', new_user_session_path %> </li>
        <% end %>
      </ul>

    </nav>
    <% flash.each do |name, msg| %>
      <% msg = "Invalid Electronic Mail or Password" if msg == 'Invalid Email or password.' %>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>
    <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>
